    /* Main Page CSS */
    body {
        padding: 20px;
          font-family: Arial, Helvetica, sans-serif;
          background: whitesmoke;
      }
  * {box-sizing: border-box;}
  
  .header {   
      color: white;
      display: block;
      padding: 20px 15px;
      background: chocolate;
      text-align: right;
  }
  .header h2 {
      text-align: center;
  }
  a {
      color: wheat;
  }
  a:hover {
      color: black;
  }
  
  .header, .footer, .col-left {
      margin-left: -28px;
  }
  .header, .footer {
      margin-right: -28px;
  }
  .header {margin-top: -28px;}
  
      /* clear floats after the columns*/
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
  
      /* Create Two unequal column*/
      .col-left {
          float: left;
          width: 250px;
          height: 100%;
         overflow: auto;
         background: rgba(37, 37, 37, 0.103);
      }
  
      .col-right {
          float: left;
          width: 75%;
          background: whitesmoke;
          padding: 10px;
          margin-bottom: 20px;
      }
  
      .col-100 {
          width: 100%;
      }
      .col-50 {
          width: 50%;
      }
      .row {
          padding: 10px;
      }
      /* Side navigation bar*/
      .navbar {
          overflow: hidden;    
      }
      .nav-btn, .dropdown-btn {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 20px;
          color: chocolate;
          display: block;
          border: none;
          background: none;
          width: 100%;
          text-align: left;
          cursor: pointer;
          outline: none;   
      }
      /* On mouse-hover */
      .nav-btn:hover, .dropdown-btn:hover {
          color: rgb(0, 0, 0);
      }
      /* Add an active class to the active dropdown button */
      .active {
          background-color: rgb(151, 128, 63);
          color: white;
      }
      /* Optional: Style the caret down icon */
      .fa-caret-down {
          float: right;
          padding-right: 20px;
      }
      /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
      .dropdown-container {
          display: none;
          background-color: rgba(37, 37, 37, 0.103);
          padding-left: 8px;
      }
  
      .adm-profile {
         text-align: center;
      }
      /* End Main Page CSS */
  
  
      /* Modal Department */
    /* style input text (full width input field) */
    input[type='text'] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
      }
      select {
        width: 50%;
        padding: 15px;
          border: none;
          background: #f1f1f1;
  
        
      }
      /* Add a background color when the inputs get focus */
      input[type='text']:focus {
          background-color: #ddd;
          outline: none;
      }
      /* Set a style for all buttons */
      button {
          background-color: chocolate;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
      }
      button:hover, .btn-upddept-search, .btn-deldept-search { opacity: 1 }
      
      /* Extra style for cancel button */
      .btn-dept_cancel, .btn-crse_cancel {
          padding: 14px 20px;
          background-color: #f44336;
      }
      .btn-upddept-search, .btn-deldept-search { 
          float: right;
          width: 50%;
          padding: 15px;
          
          border: none;
          cursor: pointer;
          color: white;
          background: chocolate;
          opacity: 0.9;
      }
      /* float cancel and add department and add equal width */
      .btn-dept_cancel, .btn-dept_insert, .btn-dept_update, .btn-dept_delete, 
      .btn-crse_cancel, .btn-crse_insert, .btn-crse_update, .btn-crse_delete {
          float: left; /* The two button will positon right next to each other */
          width: 50%;
      }
       /* Add padding to container elements */
       .container {
          padding: 15px;
      }
      /* modal background */
      .modal_insdept, .modal_upddate, .modal_deldept, 
      .modal_inscrse, .modal_updcrse, .modal_delcrse {
          display: none; /* Hiddden by default*/
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          width: 100%; /* width 100 percent*/
          height: 100%; /* height 100 percent*/
          overflow: auto; /* enable scroll if needed */
          background-color: #474e5ddc;
          padding-top: 50px;
      }
      
      /* modal content box */
      .modal_insdept-content,
      .modal_upddept-content,
      .modal_deldept-content,
      .modal_inscrse-content, .modal_updcrse-content, .modal_delcrse-content {
          background: #fefefe;
          margin: 5% auto 15% auto; /* 5% from top, 15% from bottom and center */
          border: 1px solid #888;
          width: 70%;
      }
  
      /* Add Animation - Zoom in the Modal */
      .modal_insdept-content,
      .modal_upddept-content,
      .modal_deldept-content,
      .modal_inscrse-content, .modal_updcrse-content, .modal_delcrse-content {
          animation-name: zoom;
          animation-duration: 0.6s;
      }
  
      @keyframes zoom {
          from {transform:scale(0)}
          to {transform:scale(1)}
      }
     
      /* Style the horizontal ruler */
      hr {
          border: 1px solid #f1f1f1;
          margin-bottom: 25px;
      }
      /* Style the close button (X) */
      .close {
          position: absolute;
          right: 35px;
          top: 15px;
          font-size: 40px;
          font-weight: bold;
          color: #f1f1f1;
      }
      .close:hover, .close:focus {
          color: #f44336;
          cursor: pointer;
      }
      /* Clear floats */
      .clearfix::after {
          content: "";
          clear: both;
          display: table;
      }
    
      /* End Modal Department */