* {
    box-sizing: border-box;
  }
body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
 }
/* .bg-image { 
    background: url("../Image/img_bg.jpg");
       
    filter: blur(0px);
    -webkit-filter: blur(0px);

    height: 100%; 
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
  } */
h2 {color: chocolate}
.main {
    padding: 2% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Image/webDevelopment5.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.column {
    float: left;
    height: 680px;
}
.left {
    width: 500px;
}
.right {
    width: 350px;
    padding-left: 10px;
    background-color: rgb(19, 19, 19);
}
.signup-container {
    max-width: 850px;
    position: relative;
    box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.26);
}
.slideshow-container img{
    color: wheat;
    height: 680px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* signup control */

  .card-signup {
      padding: 10px 20px;
      color: white;
  }
  .card-signup label {
    margin-top: 10px;
  }
  .card-signup button {
      margin-top: 20px;
      cursor: pointer;
      background-color: chocolate;
  }
  .card-signup input, .card-signup button {
      padding: 5px 10px;
        width: 100%;
        border: none;
        border-radius: 3px;
  }

  .card-signup label, .card-signup input {
      display: block;
  }
  .card-signup button:hover {
      background: rgb(116, 116, 116);
      color: white;
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.26);
  } 
  .card-signup input:focus {
      background: rgb(131, 113, 113);
      color: white;
  }

@media only screen and (max-width: 865px) {
    .left {
        display: none;
    }
    .right{
        background-color: rgba(0, 0, 0, 0.219);
        padding: 5%;
        color: white;
    }
    .right, .signup-container {
        width: 100%;
    }
    
}